body {
  padding: 1em;
}

.hoverable:hover {
  border: .1em solid #ff9600;
  box-sizing: border-box;
}

.centered-text {
  text-align: center;
}

.w2-h2 {
  min-width: 2em;
  min-height: 2em;
}

.bold {
  font-weight: bold;
}

.hl-bg {
  background: #d57d3d;
}

.t-50 {
  font-size: 0.5em;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-right {
  box-sizing: border-box;
  border-right: .06em solid #000;
}

.border {
  border: .06em solid #000;
}

.cursor-pointer {
  cursor: pointer;
}

.f-120 {
  font-size: 1.2em;
}
