body {
  padding: 1em;
}

.hoverable:hover {
  background: white;
}

.centered-text {
  text-align: center;
}

.w2-h2 {
  min-width: 2em;
  min-height: 2em;
}

.bold {
  font-weight: bold;
}

.t-50 {
  font-size: 0.5em;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-right {
  border-right: .06em solid #000;
}

.border {
  border: .06em solid #000;
}

.cursor-pointer {
  cursor: pointer;
}
